*/baseq3
*/missionpack
*/ipch
*/.vs
*/*/.vs
*/*.opensdf
*/*.suo
*/*.sdf
*/*.vcxproj.filters
*/*.vcxproj.user
*/*/*.vcxproj.filters
*/*/*.vcxproj.user
code/botlib.log
code/win32/winquake.res
*/Debug
*/Debug_TA
*/Release
*/Release_TA
*/*/Debug
*/*/Debug_TA
*/*/Release
*/*/Release_TA
/libs/*.dll
/libs/*.lib
/libs/*.pdb