*/baseq3
*/missionpack
*/ipch
*/.vs
*/*.opensdf
*/*.suo
*/*.sdf
*/*.vcxproj.filters
*/*.vcxproj.user
*/*/*.vcxproj.filters
*/*/*.vcxproj.user
code/botlib.log
code/win32/winquake.res
*/Debug
*/q3_ui/q3_ui___Win32_Debug
*/Debug_TA
*/quake3___Win32_Debug_TA_DEMO
*/Release
*/Release_TA
*/quake3___Win32_Release_TA_DEMO
*/*/Debug
*/*/Debug_TA
*/*/quake3___Win32_Debug_TA_DEMO
*/*/Release
*/*/Release_TA
*/*/quake3___Win32_Release_TA_DEMO