*/baseq3
*/ipch
*/.vs
*/*.suo
*/*.sdf
*/*.vcxproj.filters
*/*.vcxproj.user
*/*/*.vcxproj.filters
*/*/*.vcxproj.user
*/Debug
*/q3_ui
*/Debug_TA
*/quake3___Win32_Debug_TA_DEMO
*/Release
*/Release_TA
*/quake3___Win32_Release_TA_DEMO
*/*/Debug
*/*/Debug_TA
*/*/quake3___Win32_Debug_TA_DEMO
*/*/Release
*/*/Release_TA
*/*/quake3___Win32_Release_TA_DEMO